# Dependencies
node_modules/

# Build output
.nuxt/
.output/
dist/
.yarn/

# Environment variables
.dev.vars
.env
.env.local

# Local database
.data/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
